[project]
	description = My dotfiles
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/William Sandner (bike-bill)
[access "refs/for/refs/*"]
	read = group user/William Sandner (bike-bill)
	push = group user/William Sandner (bike-bill)
	label-Code-Review = -2..+2 group user/William Sandner (bike-bill)
	label-Verified = -1..+1 group user/William Sandner (bike-bill)
	rebase = group user/William Sandner (bike-bill)
	removeReviewer = group user/William Sandner (bike-bill)
	submit = group user/William Sandner (bike-bill)
[access "refs/heads/*"]
	read = group user/William Sandner (bike-bill)
	create = group user/William Sandner (bike-bill)
	push = +force group user/William Sandner (bike-bill)
	pushMerge = group user/William Sandner (bike-bill)
[access "refs/tags/*"]
	push = +force group user/William Sandner (bike-bill)
	pushTag = group user/William Sandner (bike-bill)
	pushSignedTag = group user/William Sandner (bike-bill)
